src/main/mule/first-mule-project-github.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="be287b16-81c7-4595-b5f9-705aa79dc73b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="first-mule-project-githubFlow" doc:id="5928b033-a48a-4c99-80d8-bc13ad74d320" >
		<http:listener doc:name="Listener" doc:id="1802dbd6-dc3a-4741-a186-95774e4bcc00" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="55a4a274-7cc1-4810-8e99-48318cb1325c" message='#["hiii"]'/>
		<ee:transform doc:name="Transform Message" doc:id="a23d5589-2ef6-439a-883f-832ab96c8273" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Github Practice jenkins update"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="07497c58-4984-4f66-adc2-4dc263765a61" message="#[payload]"/>
	</flow>
</mule>
